body {
    background-image: linear-gradient(#2B2D42, #555881, #8d99ae, #edf2f4);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.formcontTitle {
    color: black;
    text-shadow: .95px .95px grey;
}

.titleHead {
    width: 100%;
    min-height: 11rem;
    /* border: #2B2D42 4px solid; */
    color: var(--light);
    text-shadow: .75px .75px var(--dark900);
    margin: 2rem;
}

.title-item {
    font-size: 4rem;

}

.sub-title-item {
    font-size: 1.25rem;
}


.form-containter {
    max-width: 100%;
    padding: 5rem;
}

.section1 {
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    max-width: 100%;
}

.section1>h1 {
    margin: 0px;
    padding: 0px;
}

.formsectn1 {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.floatingName {
    color: rgba(128, 128, 128, 0.692);
}

.formcontTitle {
    display: grid;
    align-items: center;
    margin-top: 1rem;

}

.form-control {
    width: 40rem;
}

.forName {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.firstName {
    width: 19.5rem;
}

.lastName {
    width: 19.5rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.bton-container {
    margin-block: 1rem;
}

.bton-container a {
    text-decoration: none;
    color: white;
    margin: 0.255rem;
    padding: 0.255rem;

}



/* ! end of appointment form */


@media (max-width: 750px) {

    .form-containter {
        height: 100%;
        /* width: 100%; */
        border: solid 4px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    #titleHead {
        height: fit-content;
        margin: auto;

    }

    .formcompiler {
        height: fit-content;
    }

    #floatingName {
        justify-content: start;
        text-align: start;
        align-items: center;
        align-content: start;
        width: auto;

    }

    .appoinment-parent {
        position: relative;
    }

    .appointment-wrapper {
        margin: auto;

    }


    .submitbtn {
        font-size: 1rem;
    }

    .titleHead h1 {
        font-size: 2rem;
    }

    .titleHead p {
        font-size: 1rem;
    }

    #appointmentSection {
        position: relative;
        /* height: 10rem; */
    }

    #appointmentSection div {
        margin: auto;
    }

    #nameSection {
        height: 10rem;
        position: relative;
    }

    #nameSection h4 {
        margin: auto;
    }

    #firstName {
        position: absolute;
        top: 4rem;
    }

    #lastName {
        position: absolute;
        top: 8rem;
    }

    #contactSection {
        position: relative;
    }



  


}