:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

#formcompiler {
    /* border: 3px solid red; */
    padding: 1rem;

}

.formcontTitle {
    color: black;
    text-shadow: .95px .95px grey;

}



.titleHead {
    width: 100%;
    height: 20vh;
    /* border: purple 4px solid; */
    margin-top: 4rem;
    padding: 8rem;
}

.appoinment-parent {
    /* border: 3px solid brown; */
}

.titleHead h1 {
    color: var(--cyan-900);
    filter: drop-shadow(3px 3px 3px var(--cyan-700));
    font-size: 3rem;
}

.titleHead p {
    color: var(--cyan-900);
    /* filter: drop-shadow(3px 3px 3px var(--cyan-700)); */
}

.title-item {
    font-size: 4rem;

}

.sub-title-item {
    font-size: 1.25rem;
}


.section1 {
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    max-width: 100%;
}

.section1>h1 {
    margin: 0px;
    padding: 0px;
}

.formsectn1 {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.floatingName {
    color: rgba(128, 128, 128, 0.692);
}

.formcontTitle {
    display: grid;
    align-items: center;
    margin-top: 1rem;

}

.form_content_wrapper {
    border: 3px solid #2159719d;
    border-radius: 30px;
    width: 45%;
    padding: 2rem;
    filter: drop-shadow(5px 4px 4px #00010328);
    background-color: #51b6ba4f;
    backdrop-filter: blur(1px);
    /* border: 3px solid red; */
}

.form-control {
    width: 40rem;
}

.forName {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.firstName {
    width: 19.5rem;
}

.lastName {
    width: 19.5rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.bton-container {
    margin-block: 1rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.bton-container:hover {
    transform: scale(1.1);
}

.bton-container a {
    text-decoration: none;
    color: white;
    margin: 0.255rem;
    padding: 0.255rem;

}

.address-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    /* border: 3px solid yellow; */
}

.city-zipcode-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.city {
    width: 19.5rem;
}

.zipcode {
    width: 19.5rem;
}


.svg_bottom_panel {
    border: solid red 3px;
    height: 120px;
}


/* ! end of appointment form */


@media (max-width: 750px) {

    .form-containter {
        height: 100%;
        /* width: 100%; */
        border: solid 4px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    #titleHead {
        height: fit-content;
        margin: auto;

    }

    .formcompiler {
        height: fit-content;
    }

    #floatingName {
        justify-content: start;
        text-align: start;
        align-items: center;
        align-content: start;
        width: auto;

    }

    .appoinment-parent {
        position: relative;
    }

    .appointment-wrapper {
        margin: auto;

    }


    .submitbtn {
        font-size: 1rem;
    }

    .titleHead h1 {
        font-size: 2rem;
    }

    .titleHead p {
        font-size: 1rem;
    }

    #appointmentSection {
        position: relative;

        /* height: 10rem; */
    }

    #appointmentSection div {
        margin: auto;
    }

    #nameSection {
        height: 10rem;
        position: relative;
    }

    #nameSection h4 {
        margin: auto;
    }

    #firstName {
        position: absolute;
        top: 4rem;
    }

    #lastName {
        position: absolute;
        top: 8rem;
    }

    #contactSection {
        position: relative;
    }



    .city-zipcode-container {
        display: inline;
        margin: auto;
        justify-content: center;
        gap: 1rem;
    }

    #city {
        margin-bottom: .5rem;
    }

    #zipcode {
        margin-top: .75rem;
    }

}