:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

body {
    background-image: linear-gradient(#2B2D42, #555881, #8d99ae, #edf2f4);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mainContainer {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    align-items: center;
    align-content: center;
    padding-inline: 10%;
}

#mainContainer h3 {
    font-size: 4rem;
    color: var(--light);
    text-shadow: .75px .75px var(--dark900);
    text-indent: 10rem;
}

#mainContainer p {
    color: var(--light);
    font-size: 2rem;
    margin-top: 8%;
    text-indent: 10rem;
    margin-bottom: 8%;
}

#mainContainer p a {
    text-decoration: none;
    color: var(--dark800);
}

.remember {
    font-size: 3rem;
    margin-right: 5%;
    color: var(--light);

}

#mainContainer span {
    font-size: 2.5rem;
}

#weGotu {
    font-style: italic;
    color: rgba(247, 11, 11, 0.829);
    text-shadow: .75px .75px var(--dark900);
}

@media (max-width: 1000px) {
    #mainContainer h3 {
        font-size: 3rem;
        color: var(--light);
        text-shadow: .75px .75px var(--dark900);
        text-indent: 5rem;
    }

    #mainContainer p {
        color: var(--light);
        font-size: 1.5rem;
        margin-top: 8%;
        text-indent: 5rem;
        margin-bottom: 8%;
    }

    .remember {
        font-size: 2rem;
        margin-right: 5%;
        color: var(--light);

    }

    #mainContainer span {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    #mainContainer h3 {
        font-size: 2rem;
        color: var(--light);
        text-shadow: .75px .75px var(--dark900);
        text-indent: 3rem;
    }

    #mainContainer p {
        color: var(--light);
        font-size: 1rem;
        margin-top: 8%;
        text-indent: 3rem;
        margin-bottom: 8%;
    }

    .remember {
        font-size: 1.75rem;
        margin-right: 5%;
        color: var(--light);

    }

    #mainContainer span {
        font-size: 1rem;
    }
}