body {
    background-image: linear-gradient(#2B2D42, #555881, #8d99ae, #edf2f4);
    min-height: 100vh;
}

:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.titleHead {
    color: var(--light);
    text-shadow: .75px .75px var(--dark900);
    text-align: center;
    margin: 6rem;

}

.titleHead h1 {
    font-size: 4rem;
}

.button-container {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.button-container:hover {
    transform: scale(1.1);
}

.chat-form-container {
    height: 45rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--dark800);
    padding: 1px;

}

.mobilenumber-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.mobilenumber-container svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 600ms;
    color: var(--dark400);
}

.mobilenumber-container svg:hover {
    transform: scale(1.2);
}

.mobilenumber-container h5 {
    color: var(--light);
}

.facebook-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.facebook-container svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 600ms;
    color: var(--dark400);
}

.facebook-container svg:hover {
    transform: scale(1.2);
}

.facebook-container a {
    text-decoration: none;
    color: var(--light);
}

/* ! */
.address-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.address-container svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 600ms;
    color: var(--dark400);
}


.address-container,
.address-container svg:hover {
    transform: scale(1.2);
}

.address-container a {
    text-decoration: none;
    color: var(--light);
}

/* ! */

.submitBtn {
    text-align: center;
}

.submitBtn a {
    text-decoration: none;
    color: var(--light);
}

@media (max-width: 700px) {
    .titleHead h1 {
        font-size: 3rem;
    }

    .mobilenumber-container svg {
        width: 4rem;
        height: 4rem;
    }

    .facebook-container svg {
        width: 4rem;
        height: 4rem;
    }

    .address-container svg {
        width: 4rem;
        height: 4rem;
    }

    .titleHead {
        margin: 3rem;

    }

    .chat-form-container {
        height: 25rem;
        padding: 1rem;
        margin: 1rem;
    }

}

@media (max-width: 600px) {

    .address-container h5,
    .facebook-container h5,
    .mobilenumber-container h5 {
        font-size: 1rem;
        padding: 1px;
    }

    .mobilenumber-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .facebook-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .address-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width:400px) {
    .titleHead h1 {
        font-size: 2rem;
    }

    .address-container h5,
    .facebook-container h5,
    .mobilenumber-container h5 {
        font-size: 1rem;
        padding: 1px;
    }
}

@media (max-width: 300px) {
    .mobilenumber-container {
        margin: 0.95rem;
    }

    .facebook-container {
        margin: 0.95rem;
    }

    .titleHead h1 {
        font-size: 2rem;
    }

    .titleHead {
        margin: 2rem;
    }

    .mobilenumber-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .facebook-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .address-container svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .address-container h5,
    .facebook-container h5,
    .mobilenumber-container h5 {
        font-size: 1rem;
        padding: 1px;
    }
}