:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-containter {
    height: 65vh;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.google-maps-container {
    display: flex;
    justify-content: center;
    width: 75%;
    border: 8px solid var(--cyan-700);
        filter: drop-shadow(3px 3px 3px var(--cyan-600));
    border-radius: 30px;
}

.titleHead {
    margin-top: 9rem;
    text-align: center;
    color: var(--white);
}

.titleHead h1 {
    padding: 2rem;
    color: var(--cyan-900);
    filter: drop-shadow(3px 3px 3px var(--cyan-700));
    font-size: 3rem;
}

.submitBtn {
    margin: auto;
    display: flex;
    margin: 2rem;
    justify-content: center;
}

.submitBtn a {
    text-decoration: none;
    color: var(--light);
}

.button-container {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.button-container:hover {
    transform: scale(1.1);
}