:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

body {
    background-color: var(--dark400);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.signUp-container {
    margin: auto;
}

#signup-wrapper {
    width: 100%;

}

.floatingName {
    color: rgba(128, 128, 128, 0.692);
}

.titleHead {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--light);
}

#firsName {
    margin-bottom: 1rem;
}

#signupCon-section {
    margin-top: 1.5rem;
}

#signupEmail {
    margin-top: 1.5rem;
}

.submitBtn {
    margin-top: 2rem;
    text-align: center;
}

.submitBtn a {
    text-decoration: none;
    color: var(--ligh);
}

#signbutton {
    margin-left: 3rem;
}

.forMobileView {
    display: none;
}

@media (max-width: 680px) {
    .signUp-container {
        display: none;
    }

    .forMobileView {
        display: block;
        margin: 5rem;
        padding: 1rem;
        margin: -.5rem;
        height: 100%;

    }

    #signbutton {
        align-items: center;
        margin-top: 5rem;
    }

    #signbutton button {
        width: 5rem;
        height: 3rem;
    }

    #signbutton a {
        color: var(--light);
        font-size: 15px;
        align-items: center;
        text-align: center;
        align-content: center;
    }


}