:root {
    --dark800: #2B2D42;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

body {
    background-color: var(--dark400);
    margin: 0px;
    padding: 0px;
}


.navBar {
    height: 15rem;
    width: 100%;
    display: flex;
    background-color: var(--dark800);

}

.oppaLogo {
    height: 15rem;
    text-align: center;
}

.oppaName {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark400);
}

.oppaFitnessLogo {
    height: 10rem;
}

.oppaNavList {
    display: flex;
    height: 15rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 100ms;
}

.navoptions {
    color: var(--light);
    font-size: large;
    text-decoration: none;
    transition: width 400ms, height 400ms, transform 400ms;
}

.navoptions:hover {
    display: flex;
    color: var(--light);
    transform: scale(1.2);
}


.showEquipment {
    height: 1050px;
    width: 100%;
    background: url(./img/oppaBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.heroSection {
    height: 1050px;
    width: 100%;
    border: 3px solid red;
}

/* .heroImg {
    height: 1050px;
    width: 100%;
    backdrop-filter: blur(180px);
} */

.callToAct {
    height: 700px;
    width: 100%;
    background-color: var(--dark600);
}

.callToAct>h1 {
    font-size: 4rem;
}

.chat_section {
    display: flex;
}

.chatStyle {
    height: 400px;
}


.submitbtnforchat {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.submitbtnforchat>button>a {
    text-decoration: none;
    color: white;
}

.showMore {
    height: 950px;
    width: 100%;
    border: 3px solid red;
}

.MainFoot {
    position: relative;
    display: flex;
    height: 20rem;
    width: 100%;
    background-color: var(--dark800);
    border: 3px solid grey;
}

.footerLogo {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.footerLeft {
    display: flex;
    gap: 7rem;
    justify-content: right;
    align-items: center;
}

.vLiner {
    height: 13rem;
    border: 3px solid var(--light);
    margin-right: 3rem;
}

.footerRight {
    display: flex;
    color: var(--light);
    margin-top: 3rem;
}

.col-4>h6>a {
    text-decoration: none;
    color: var(--light);
}



.company {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark400);
}

.gym {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark400);
}

.socialMed {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark400);
}

/* ! APPOINTMENT FORM */
.section1 {
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.section1>h1 {
    margin: 0px;
    padding: 0px;
}

.formsectn1 {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.floatingName {
    color: rgba(128, 128, 128, 0.692);
}

.formcontTitle {
    display: grid;
    align-items: center;
    margin-top: 1rem;

}

.form-control {
    width: 40rem;
}

.forName {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.firstName {
    width: 19.5rem;
}

.lastName {
    width: 19.5rem;
}

.submitbtn1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submitbtn1>button>a {
    text-decoration: none;
    color: white;
}

/* ! APPOINTMENT FORM */

/* ! SIGN UP FORM */


/* ! SIGN UP FORM */