:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

body {
    background-color: var(--dark400);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.navBar {
    min-height: 15rem;
    width: 100%;
    display: flex;
    background-color: var(--dark800);

}

.oppaLogo {
    height: 15rem;
    text-align: center;
}

.oppaName {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark900);
}

.oppaFitnessLogo {
    height: 10rem;
}

.oppaNavList {
    display: flex;
    height: 15rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 100ms;
}

.navoptions {
    color: var(--light);
    font-size: large;
    text-decoration: none;
    transition: width 400ms, height 400ms, transform 400ms;
    text-shadow: .75px .75px var(--dark900);

}

.navoptions:hover,
.topbar-userprofile:hover {
    display: flex;
    color: var(--light);
    transform: scale(1.2);
}

.user-profile {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 9999px;
    border: 1px solid var(--light);
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: .5rem;

}

.topbar-userprofile {
    /* border: 3px solid red; */
    padding-right: 8rem;
    margin-bottom: 1rem;
    transition: 400ms;
}

.topbar-userprofile span {
    font-size: large;
    /* margin-right: rem; */
    /* border: 3px solid red; */
    justify-content: center;
    /* margin-top: 1rem; */
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    color: var(--light);

}

.dropdown {
    list-style: none;
    margin-top: 1.75rem;

    /* border: 3px solid red; */
}

.showEquipment {
    max-height: 1050px;
    width: 100%;
    background: url(./img/oppaBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    background-position: center;

}

.heroSection {
    max-height: 1050px;
    width: 100%;
    border: 3px solid red;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    min-height: 10rem;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 2rem;
    color: white;
    font-size: clamp(2.5rem, 10vw, 4rem);
    text-shadow: 1.25px 1.25px black;
}

.heroArea {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30rem;
    height: 30rem;
    margin-bottom: 2rem;

}


.callToAct {
    max-height: 700px;
    width: 100%;
    max-height: fit-content;
    margin-bottom: 4rem;
    background-color: var(--dark600);
}

.callToAct>h1 {
    font-size: 4rem;

}

.chat-wrapper {
    background-color: var(--dark600);

}

.chat_section {
    width: 100%;
}


.chat-column {
    width: fit-content;
}

#chat-form-cta {
    display: flex;
}

.chat-question-item-container {
    width: 100%;
    margin-top: 2rem;

}

#chat-right {
    margin-left: 15rem;
}

.form-left {
    border-radius: 0px 20px 20px 20px;
    text-transform: capitalize;

}


.form-right {
    width: fit-content;
    border-radius: 20px 20px 0px 20px;
}

#floatingInput {
    width: fit-content;
    border: solid grey 4px;
    height: 5rem;
    width: 100%;
    align-items: end;
    align-content: end;
}

.submitBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.submitBtn:hover {
    transform: scale(1.1);
}

.button-container {
    margin-block: 1rem;
}

.button-container a {
    text-decoration: none;
    color: white;
    margin: 0.255rem;
    padding: 0.255rem;

}

.showMore {
    background-color: var(--dark400);
    max-height: 45rem;
    width: 100%;
    padding-bottom: 3rem;
}

#xtraDiv {
    color: black;
    text-shadow: 1px 1px grey;
    font-size: 2.5rem;
}

.MainFoot {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    background-color: var(--dark800);
    border: 3px solid grey;
}

.footerLogo {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.footerLeft {
    display: flex;
    gap: 7rem;
    justify-content: right;
    align-items: center;
}

.vLiner {
    height: 13rem;
    border: 3px solid var(--light);
    margin-right: 3rem;
}


.footerRight {
    display: flex;
    color: var(--light);
    margin-top: 3rem;
}

.footerLink-container {
    display: flex;
    color: var(--light);
    margin-top: 3rem;
}


.col-4>h6>a {
    text-decoration: none;
    color: var(--light);
}



.footer-right-items {
    color: var(--contrast);
    text-shadow: .75px .75px var(--dark900);
}



/* !banner */
.bottombar {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    background: var(--contrast);
    color: #f3efe0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 10px;
    border: 4px solid var(--dark800);
    border-radius: 0px 50px 50px 0px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;

}

.bottombar__content {
    position: relative;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.bottombar__close {
    background: none;
    border: none;
    color: #f3efe0;
    cursor: pointer;
    font-size: 3em;

}

#subsBtn:hover {
    /* background: none; */
    background-color: var(--dark800);

}

/* !banner */

/* !Marquee */
#marquee-container {
    width: 100%;
}

.rowImg1 {
    width: 100%;
    height: auto;
    border: 3px solid var(--dark600);
    border-radius: 20px;
}

/* !  START OF THE HAMBURGER MENU */

.hamburger-menu-container {
    display: flex;
    justify-content: center;
    width: 40rem;
}

#hamburger-icon {
    width: 100%;
    display: none;
    margin-bottom: 1rem;
    align-items: center;
    margin-top: 1rem;
}

#hamburger-icon ul {
    list-style: none;
    text-align: center;
    align-items: center;
    margin: 1rem;
    padding: 0px;
}

#hamburger-icon a {
    text-decoration: none;
    justify-content: space-between;
    align-content: center;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 650ms;
    overflow: hidden;
    transition: 600ms;
}

.mobile-menu {
    display: none;
}

.mobile-menu a {
    color: var(--light);
    font-size: large;
    text-decoration: none;
    transition: width 400ms, height 400ms, transform 400ms;
    text-shadow: .75px .75px var(--dark900);
    margin: 2rem;

}



/* !  END OF THE HAMBURGER MENU */


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;

}

.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}


/* !@media resources */

@media (max-width: 1400px) {
    .chat_section {
        display: block;
    }
}

@media (max-width: 1300px) {
    .showMore {
        min-height: 30rem;
    }

}


@media (max-width: 1200px) {

    #chat-form-cta {
        display: block;
        width: fit-content;
        margin: auto;
        justify-content: center;
    }

    #chat-header {
        width: 100%;
    }

    .chat-list-container {
        padding-right: 4rem;
    }

    .chat-question-wrapper {
        display: flex;
        justify-content: start;
    }

    #hamburger-icon {
        display: block;
    }

    .oppaNavList {
        display: none;
    }

    .oppaLogo {
        display: block;
        justify-content: center;
        margin: auto;
    }

    #xtraDiv {
        font-size: 1.75rem;
    }



    @media (max-width: 950px) {
        #chat-form-cta {
            display: block;
            width: fit-content;
            margin: auto;
            justify-content: center;
        }

        #chat-header {
            width: 100%;
        }

        .chat-list-container {
            padding-right: 4rem;
        }

        .chat-question-wrapper {
            display: flex;
            justify-content: start;
        }

        #chat-right {
            margin-left: 10rem;
        }

        .showMore {
            min-height: 18rem;
        }

        .showEquipment {
            background: black;
            backdrop-filter: blur(180px);
            background-image: url(./img/throughfitness.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            scroll-behavior: smooth;
            background-position: center;


        }

    }

    @media (max-width: 700px) {

        #chat-form-cta {
            display: block;
            width: fit-content;
            margin: auto;
            justify-content: center;
        }

        #chat-header {
            width: 100%;
        }

        .chat-list-container {
            padding-right: 4rem;
        }

        .chat-question-wrapper {
            display: flex;
            justify-content: start;
        }

        #chat-right {
            margin-left: 5rem;
        }

        .showMore {
            min-height: 15rem;
        }

        #xtraDiv {
            color: black;
            text-shadow: 1px 1px grey;
            font-size: 1.5rem;
        }

        .MainFoot {
            width: 100%;
            display: block;
            justify-content: center;
            justify-content: space-around;
            margin: 0 auto;
            text-align: center;
            align-content: center;
            border: 3px solid red;
            align-items: center;
            padding-bottom: 4rem;
        }

        .footerLogo {
            margin: auto;
            margin-bottom: 3rem;
        }

        .footerRight {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            margin: auto;

        }

        .footerLeft {
            width: 100%;
        }

        .footerLink-container {
            display: flex;
            width: auto;
            justify-content: center;
            align-items: center;
            margin: auto;
            text-align: center;

        }

        .footer-right-items {
            /* margin-bottom: 1rem; */
            align-items: center;
        }

        .vLiner {
            display: none;
        }

        .rowImg1 {
            border-radius: 10px;
        }
    }

    @media (max-width: 600px) {


        .heroSection {
            width: 100%;
        }

        .heroArea {
            height: 20rem;
            width: 20rem;
        }

        .oppaFitnessLogo {
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
        }

        .oppaLogo {
            width: 100%;
        }

        .oppaName {
            display: block;
        }

        .navBar {
            height: 15rem;
            margin: auto;
            margin: 0;
            padding: 0;
        }



        .chat-container-1 {
            display: none;
        }

        #xtraDiv {
            color: black;
            text-shadow: 1px 1px grey;
            font-size: 1rem;
        }

        .footer-items {
            margin-bottom: 2rem;
        }
    }

    @media (max-width: 400px) {
        #chat-form-cta {
            display: block;
            width: fit-content;
            margin: auto;
            justify-content: center;
        }

        #chat-header {
            width: 100%;
        }

        .chat-list-container {
            padding-right: 4rem;
        }

        .chat-question-wrapper {
            display: flex;
            justify-content: start;
        }

        #chat-right {
            margin-right: 10px;
            padding-right: 10px;

        }

        #floatingInput {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .mobile-menu a {
            display: inline-block;
            margin: 5px;

        }
    }

    @media (max-width: 300px) {
        #chat-form-cta {
            display: block;
            width: fit-content;
            margin: auto;
            justify-content: center;
        }

        #chat-header {
            width: 100%;
        }

        .chat-list-container {
            padding-right: 4rem;
        }

        .chat-question-wrapper {
            display: flex;
            justify-content: start;
        }

        #chat-right {
            margin-right: 10px;
            padding-right: 10px;

        }

        #floatingInput {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .chat-question {
            display: block;
            color: black;
        }

        .heroArea {
            width: 10rem;
            height: 10rem;
        }

        .hamburger-menu-container {
            width: 100%;
            margin: auto;
        }

        .mobile-menu {
            width: 75%;
            margin: auto 0;

        }

        .mobile-menu a {
            display: inline-block;
        }

        .open .mobile-menu {
            margin: auto;
            display: inline;
            justify-content: center;
        }

        .footerLogo {
            margin-right: 5px;
        }
    }
}