body {
    background-image: linear-gradient(#2B2D42, #555881, #8d99ae, #edf2f4);
    min-height: 100vh;

}

:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.training-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;

}

.trainingerwrapper {
    display: flex;
    justify-content: space-evenly;
}


#heading1 {
    width: 100%;
    text-align: center;
    margin-block: 5rem;
    font-size: 4rem;
    color: var(--light);
    text-shadow: .75px .75px var(--dark900);
    /* line-height: 1; */
}

.training-day h3 {
    font-size: 2.5rem;
    color: black;
    text-shadow: 0.95px 0.95px grey;

}

.training-hour {
    align-items: center;
    text-align: center;
    margin-block: 1rem;

}

.btn {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.btn:hover {
    transform: scale(1.1);
}

.hour {
    margin-block: 1rem;
}

.hour a {
    text-decoration: none;
    color: var(--light);
}

.submitButton {
    text-align: center;
    text-decoration: none;

}

.submitButton a {
    text-decoration: none;
    color: var(--light);
}

.btnC {
    width: 8rem;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}

.btnC:hover {
    transform: scale(1.1);
}

@media (max-width: 1200px){
    .training-day{
        border: 3px solid red;
    }

    .trainingerwrapper{
        width: 100%;
    }
}