body {
    background: radial-gradient(#b1b6fc, #1c1d2b);
    min-height: 100vh;
}

:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}



.heading-container {
    /* border: 3px solid yellow; */
    text-align: center;
    height: 20vh;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1px;
}

.heading-container h1 {
    color: var(--light);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
    font-size: 3rem;
}

.coaching-request {
    /* border: 3px solid black; */
    height: 50vh;
    display: flex;
    justify-content: space-between;

}

.card {
    background-color: var(--dark800);
    width: 18rem;
}

#coaches {
    /* border: solid 3px blue; */
    margin: auto;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
    display: flex;
    justify-content: center;

}

#coaches p {
    text-indent: 2rem;
    margin-bottom: 1rem;
    color: var(--light);
}

#coaches h5 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light);
}

#coaches a {
    text-align: center;
    /* border: solid 3px var(--contrast); */
    margin: auto;
    width: 100%;
    padding: .5rem;
    color: var(--dark800);
    font-weight: bold;
}

@media (max-width: 1200px) {
    .coaching-request {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        margin-top: 3rem;

    }
    .heading-container{
        /* border: 3px solid red; */
        padding: 1px;
    }


}


@media (max-width: 700px) {
    .heading-container h1 {
        font-size: 2rem;
        /* display: none; */
    }
    .coaching-request{
        width: 100%;
    }

    #coaches {
        margin: auto;
        /* border: 3px solid red; */
        width: 20rem;
    }
        .training-container {
            /* border: 3px solid red; */
            /* margin-top: 3rem; */
            margin-bottom: 2rem;
        }
}

@media (max-width: 300px) {

    .training-container{
        /* border: 3px solid red; */
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .heading-container h1 {
        font-size: 2rem;
        /* display: none; */
    }

    .coaching-request {
        width: 100%;
    }

    #coaches {
        margin: auto;
        /* border: 3px solid red; */
        width: 10rem;
        
    }
}