:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.training-container {
    margin-top: 9rem;
    height: 65vh;
    padding: 2rem;

}

.heading-container {
    text-align: center;
    /* height: 20vh; */
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-top: 4rem; */
    /* padding: 8rem; */
}

.heading-container h1 {
    color: var(--cyan-900);
    filter: drop-shadow(3px 3px 3px var(--cyan-700));
    font-size: 3rem;
    padding: 2rem;
}

.coaching-request {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 18rem;
    height: 40rem;
    border: 3px solid var(--cyan-800);
    background-color: var(--cyan-600);
}

.card-text {
    /* border: 3px solid red; */
    height: 11rem;
}

#coaches {
    margin: auto;
    align-items: center;
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 1));
    display: flex;
    justify-content: center;

}

#coaches p {
    text-indent: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
}

#coaches h5 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
}

#coaches a {
    text-align: center;
    /* border: solid 3px var(--contrast); */
    margin: auto;
    width: 100%;
    padding: .5rem;
    color: var(--dark800);
    font-weight: bold;
}

.accord_list {
    display: none;
    width: inherit;
}

@media (max-width: 1000px) {
    .coaching-request {
        display: none;
    }

    .training-container {
        height: 16vh;
    }

    .accord_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem;
    }

    .accordImages {
        margin-top: 4rem;
        border: var(--cyan-800) 5px solid;
    }

    .accordion-button {
        background-color: var(--cyan-600);
        height: 8rem;
    }

    .accord_coach_name {
        color: var(--white);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .accordion-body {
        background-color: var(--cyan-800);
        font-size: 1.7rem;
        color: var(--white);
        border: var(--cyan-800) 5px solid;
        text-indent: 4rem;
    }

    .accord_coach_name:hover {
        color: var(--cyan-700);
    }

    #message_btn {
        font-size: 1.75rem;
        background-color: var(--cyan-600);
        border: 3px solid var(--cyan-800);
        border-radius: 20px;
        color: var(--white);
        display: flex;
        justify-content: center;
        text-indent: 0rem;
    }
}

@media (max-width: 850px) {
    .heading-container h1 {
        font-size: 2.5rem;
        /* display: none; */
        padding: 4rem;
    }

    .accordImages {
        margin-top: 2rem;
    }

}

@media (max-width: 700px) {
    .heading-container h1 {
        font-size: 2.5rem;
        /* display: none; */
    }

}

@media (max-width:500px) {
    .training-container {
        margin-top: 1rem;
    }

    .accord_coach_name {
        font-size: 1rem;
    }

    .heading-container h1 {
        font-size: 2.5rem;
        /* display: none; */
        padding: 4rem;
    }
}

@media (max-width: 400px) {

    .heading-container h1 {
        font-size: 1.25rem;
        padding: 4rem;
    }

    .training-container {
        height: 5rem;
    }

}