.swiper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.swiperCont {
    display: flex;
    justify-content: center;
}