body {
    background-image: linear-gradient(#2B2D42, #555881, #2B2D42);
    min-height: 100vh;
}

:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
    color: white;
}

.user-profile {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 9999px;
    border: 2.5px solid var(--contrast);
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: 1rem;
    text-align: center;

}

.topbar-userprofile {
    /* border: 3px solid red; */
    padding-right: 8rem;
}

.topbar-userprofile span {
    /* border: 3px solid red; */
    justify-content: center;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

.dropdown {
    list-style: none;
    margin-top: 1.75rem;

    /* border: 3px solid red; */
}

.dropdown-menu {
    margin-top: 2rem;
    border: 3px solid var(--contrast);
    background-color: #2B2D42;
}

.line-break {
    border: 1px solid;
    width: 85%;
    margin: auto;
}

.left-panel-section {
    height: 90vh;
    width: 15vw;
    /* border: 3px solid red; */
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 2rem;
}

.leftPanelItems {
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
    /* border: 3px solid red; */
}

.leftPanelItems img {
    width: 9rem;
    height: 9rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.leftPanelItems button {
    background: none;
    border: none;
}

#settings,
#bmi,
#program,
#progress,
#chatwithCoach,
#gymlogo {
    font-size: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: 400ms;
}


#settings svg,
#bmi svg,
#program svg,
#progress svg,
#chatwithCoach svg {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .5rem;
}


#settings:hover,
#bmi:hover,
#program:hover,
#progress:hover,
#chatwithCoach:hover,
#gymlogo:hover {
    transform: scale(1.2);
}

.center-panel-section {
    height: 95vh;
    width: 80vw;
    border: 3px solid var(--light);
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 2rem;
    margin-bottom: 2rem;

    /* filter: drop-shadow(0px 2px 2px rgb(233, 228, 228)); */
}

.panel-section-wrapper {
    display: flex;
}

.profileContainer {
    /* border: solid 3px red; */
    transition: 700ms;


}

.profileContainer:hover {
    transform: scale(1.2);
    z-index: 9999;
    position: relative;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

.progress-wrapper {
    /* border: solid red 3px; */
    display: flex;
    height: 70vh;
    text-align: center;
    /* margin-top: 2rem; */
    align-items: center;
}

.progress-wrapper h6 {
    margin-top: 3rem;
    font-size: 1.5rem;
    border: 3px solid var(--contrast);
    border-radius: 30px;
    width: 15rem;
    margin: auto;
    padding: .35rem;
    background-color: var(--contrast);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

#started-BMI-progress {
    /* border: solid red 3px; */
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    margin-top: 1.5rem;


}

#current-BMI-progress {
    /* border: solid red 3px; */
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    margin-top: 1.5rem;


}

#goal-BMI-progress {
    /* border: solid red 3px; */
    margin-top: 1.5rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));


}

.progressTitle {
    color: rgb(0, 0, 0);
    text-shadow: .5px .75px rgb(95, 95, 95);
}

.progress {
    background-color: #2B2D42;
}

.progress-bar {
    color: black;
}

.progress {
    width: 100%;
    margin: auto;
    border: 3px solid red;
}

.progress-container-wrapper {
    width: 95%;
    display: flex;
    margin: auto;
}

.goal-progress-bar svg {
    width: 2rem;
    height: 2rem;
    margin-right: 4rem;

}



.physic-illustration {
    /* border: solid 3px red; */
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 4rem;
    margin-left: 4rem;
}

.fat-containter img {
    height: 4rem;
    width: 5rem;
}

.fit-containter img {
    height: 4rem;
    width: 5rem;
    margin-bottom: 2rem;
}

.initial-bmi {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    justify-content: space-evenly;
    height: 20rem;
    margin-top: 1rem;
}

.initial-weight,
.bmi-score {
    border: 3px solid var(--light);
    width: 4rem;
    margin: auto;
    border-radius: 30px;
}

.bmi-result {
    border: 3px solid var(--light);
    width: 6.5rem;
    margin: auto;
    border-radius: 30px;
}



#subsBtn:hover {
    /* background: none; */
    background-color: var(--dark800);

}



@media (max-width: 1200px) {

    #settings,
    #bmi,
    #program,
    #progress,
    #chatwithCoach,
    #gymlogo {
        font-size: .75rem;
    }

    .leftPanelItems img {
        width: 7rem;
        height: 7rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .physic-illustration {
        width: 80%;
    }

    .topbar-userprofile {
        /* border: 3px solid red; */
        padding-right: 6rem;
    }

    .center-panel-section {
        height: 1250px;
    }

    #started-BMI-progress,
    #current-BMI-progress,
    #goal-BMI-progress {
        /* border: 3px solid red; */
        width: 100%;
    }

    .progress-wrapper {
        display: flex;
        flex-direction: column;
    }

    .progress-wrapper h6 {
        /* border: 3px solid black; */
        width: fit-content;
        font-size: 1.25rem;
        padding: .5rem;
    }

    .bottombar__text h5 {
        font-size: 1rem;
    }

    .cong {
        font-size: 1.2rem;
    }

    .warrior {
        font-size: 1.5rem;
    }

    .left-panel-section {
        height: 70vh;
    }

    .progress-bar-container {
        transform: rotate(90deg);
        display: none;
    }
}

@media (max-width: 980px) {
    .physic-illustration {
        width: 75%;
    }

    .progress-wrapper {
        display: block;
        width: fit-content;
        margin: auto;

    }

    .progress-bar-container {
        display: none;
    }

    .topbar-userprofile {
        /* border: 3px solid red; */
        padding-right: 5rem;
    }

    .bottombar__text h5 {
        font-size: 1rem;
    }

    .cong {
        font-size: 1.2rem;
    }

    .bottombar {
        left: 5%;
        border: solid 3px black;
        width: fit-content;
    }

}

@media (max-width: 850px) {

    #settings,
    #bmi,
    #program,
    #progress,
    #chatwithCoach,
    #gymlogo {
        font-size: .5rem;
    }


    #settings svg,
    #bmi svg,
    #program svg,
    #progress svg,
    #chatwithCoach svg {
        height: 2rem;
        width: 2rem;
        margin-top: .25rem;
    }

    .leftPanelItems img {
        width: 5rem;
        height: 5rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .topbar-userprofile {
        /* border: 3px solid red; */
        padding-right: 4rem;
    }

    .bottombar__text h5 {
        font-size: 1rem;
    }

    .cong {
        font-size: 1.2rem;
    }

}

@media (max-width: 560px) {
    .topbar-userprofile {
        /* border: 3px solid red; */
        padding-right: 3rem;
    }

    .bottombar__text h5 {
        font-size: .85rem;
    }

    .cong {
        font-size: 1rem;
    }

    .bottombar__close {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    .topbar-userprofile {
        /* border: 3px solid red; */
        padding-right: 1rem;
    }

    .center-panel-section {
        height: 1300px;
    }

    .progress-wrapper h6 {
        font-size: 1rem;
    }

}