:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;
    --contrast-400: #be2025;
}




.showMore {
    /* border: 3px solid yellow;
    background-image: url(../img/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.showroom_title {
    height: 12vh;
    text-align: center;
    padding: 2rem;
    color: var(--light);

}


.showroom_title h1 {
    background-color: #2b2d4288;
    width: fit-content;
    text-align: center;
    text-shadow: 1px 1px var(--dark600);
    margin: auto;
    padding: 1rem;
    border-radius: 40px;

}

/* ! new div for equipments */
.equipment_items {
    height: 30rem;
    /* padding: 2rem; */

}

.svg_section_container {
    background: radial-gradient(#b1b6fc, #1c1d2b);
}
.equipment-container{
    margin-top: 4rem;
}

/* !SVG */
.svg_top_section {
    height: 20vh;
}

.rowImg1 {
    /* border: 1px solid var(--dark600); */
    border-radius: 30px;
    height: inherit;
    width: 100%;
    filter: drop-shadow(5px 4px 40px rgba(0, 0, 0, 1));
    padding: 1rem;
}

.rowImg1_right {
    width: 100%;
    height: inherit;
    filter: drop-shadow(5px 4px 40px rgba(0, 0, 0, 1));
    border-radius: 20px;

}

.equipment_items_left {
    margin: auto;

}

.items_wrapper_left_panel {
    display: flex;
}

.equipment_items_right {
    padding: 1rem;
}

.right_section_top,
.right_section_bottom {
    display: flex;
}

.clients-section {
    filter: drop-shadow(5px 4px 4px #4a4d7088);
    background-color: #2b2d4288;
    width: 75%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10rem;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 0;
    border-radius: 80px;
    padding: 2rem;
    color: white;
    font-size: clamp(2.5rem, 10vw, 4rem);
    z-index: 1;
    margin: auto;


}

.items_wrapper_left_panel h2 {
    text-shadow: 2px 2px var(--dark800);
    width: 100%;
}

.client_section_login {
    text-align: center;
}


.client_section_login button {
    filter: drop-shadow(1px 1px 1px white);
}

/* ! Chat button */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #2B2D42;
    color: white;
    padding: 16px 20px;
    border: 3px solid #8d99ae;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    left: 28px;
    width: 280px;
    border-radius: 20px;
    font-size: 1.25rem;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 15px;
    border: 3px solid var(--dark600);
    z-index: 9;
    border-radius: 25px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 1rem;
    background: #2b2d4288;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.form-container h4,
label {
    color: var(--light);
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: var(--light);
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    width: 75%;
    margin-bottom: 10px;
    opacity: 0.8;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.chat_button {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

/* ! Chat button */