:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
}




.showMore {
    /* border: 3px solid yellow;
    background-image: url(../img/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}



/* ! new div for equipments */
.equipment_items {
    height: 30rem;
    /* padding: 2rem; */

}

.svg_section_container {
    background: var(--white);
}

.equipment-container {
    margin-top: 4rem;
}

/* !SVG */
.svg_top_section {
    height: 10vh;
}

.rowImg1 {
    /* border: 1px solid var(--dark600); */
    border-radius: 30px;
    height: inherit;
    width: 100%;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 1));
    padding: 1rem;
}

.rowImg1_right {
    width: 100%;
    height: inherit;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 1));
    border-radius: 20px;

}

.equipment_items_left {
    margin: auto;

}

.gym_equipments {
    margin-top: 2rem;
}

.items_wrapper_left_panel {
    display: flex;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.equipment_items_right {
    padding: 1rem;
}

.right_section_top,
.right_section_bottom {
    display: flex;
}

.clients-section_top {
    filter: drop-shadow(5px 4px 4px #000103);
    background-color: #51b6ba96;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 80px;
    color: white;
    font-size: clamp(2rem, 10vw, 4rem);
    margin: auto;
    padding: 1rem;

}

.clients-section {
    filter: drop-shadow(5px 4px 4px #000103);
    background-color: #51b6ba96;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10rem;
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 80px;
    padding: 2rem;
    color: white;
    font-size: clamp(2.5rem, 10vw, 4rem);
    z-index: 1;
    margin: auto;


}

.items_wrapper_left_panel h1 {
    text-shadow: 2px 2px var(--dark800);
    width: 100%;
    filter: drop-shadow(5px 4px 4px #0f0f1188);
}

.client_section_login {
    text-align: center;
}


.client_section_login button {
    filter: drop-shadow(0px .5px 2px white);
}

/* ! Chat button */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background: var(--cyan-700);
    color: white;
    padding: 16px 20px;
    border: 3px solid var(--cyan-600);
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    left: 1.25rem;
    width: 10rem;
    border-radius: 20px;
    font-size: 1rem;

}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 15px;
    border: 3px solid var(--dark600);
    z-index: 9;
    border-radius: 25px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 1rem;
    background: #06152896;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    filter: drop-shadow(5px 4px 4px #0f0f1188);
}

.form-container h4,
label {
    color: var(--white);
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #117551;
    color: var(--white);
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    width: 75%;
    margin-bottom: 10px;
    opacity: 0.8;

}

.close_button {
    background-color: #e70e02 !important;
}

.send_button {
    background-color: #069e2d !important;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.chat_button {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

/* ! Chat button */