:root {
    --dark800: #2B2D42;
    --dark900: black;
    --dark600: #555881;
    --dark400: #8d99ae;
    --light: #edf2f4;
    --contrast: #f12229;
}




.showMore {
    /* border: 3px solid yellow;
    background-image: url(../img/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.showroom_title {
    height: 12vh;
    text-align: center;
    padding: 2rem;
    color: var(--light);

}

.showroom_title h1 {
    background-color: #2b2d4288;
    width: fit-content;
    text-align: center;
    text-shadow: 1px 1px var(--dark600);
    margin: auto;
    padding: 1rem;
    border-radius: 40px;

}

/* ! new div for equipments */
.equipment_items {
    height: 30rem;
    /* padding: 2rem; */

}

.svg_section_container {
    background: radial-gradient(#8c91cf, #2B2D42);
}


/* !SVG */
.svg_top_section {
    height: 10vh;
}

.rowImg1 {
    /* border: 1px solid var(--dark600); */
    /* border-radius: 30px; */
    height: inherit;
    width: 100%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    padding: 1rem;
}

.rowImg1_right {
    width: 100%;
    height: inherit;

}

.equipment_items_left {

    margin: auto;


}

.items_wrapper_left_panel {
    display: flex;
}

.equipment_items_right {
    padding: 1rem;
}

.right_section_top,
.right_section_bottom {
    display: flex;
}

.clients-section {

    background-color: #2b2d4288;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    min-height: 10rem;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 0;
    border-radius: 80px;
    padding: 2rem;
    color: white;
    font-size: clamp(2.5rem, 10vw, 4rem);
    z-index: 1;

}